
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.navbar{
    position: sticky;
    background-color: rgb(1, 118, 228);
    top: 0;
    box-shadow: 0px 20px 10px 0px rgba(9, 9, 224, 0.2);

}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    
}

.nav-logo img{
    width: 150px;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.nav-link{
    color: rgb(255, 197, 8);
    text-decoration: none;
    font-size: 14pt;
    font-weight: 600;
    padding: 8px 16px;
}

.nav-link:hover{
    color: rgb(179, 139, 9);
}

@media screen and (max-width: 768px) {

    .navbar{
        width: 100%;
    }


    .nav-menu{
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }
    
}